body{

margin:0;

background:#202124;

font-family:Arial;

color:white;

text-align:center;

}

.container{

max-width:700px;

margin:auto;

padding:30px;

}

h1{

font-size:42px;

margin-bottom:5px;

}

.subtitle{

color:#bbbbbb;

margin-bottom:40px;

}

.controls{

display:flex;

flex-direction:column;

align-items:center;

gap:20px;

}

.middle{

display:flex;

gap:15px;

}

button{

width:170px;

height:70px;

font-size:22px;

border:none;

border-radius:12px;

cursor:pointer;

background:#1976d2;

color:white;

transition:0.2s;

}

button:hover{

background:#1565c0;

}

.stop{

background:#d32f2f;

}

.stop:hover{

background:#b71c1c;

}

.status{

margin-top:40px;

padding:20px;

background:#303134;

border-radius:12px;

}